:root {
    
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.bg-dark {
    background: #222;
}

.bg-white {
    background: #fff;
}

.standard-container {
    width: 100%;
    max-width: 1200px;
}

.main-container {
    width: 100%;
    display: flex;
    max-width: 1600px;
}

.grey { color: #999; }
.text-light { color: #ddd; }
.text-dark { color: rgba(0,0,0,0.7); }
.text-dark-2 { color: rgba(0,0,0,0.9); }

@-webkit-keyframes blinker {
    from { background: #E53C53; }
    to { background: #19B989; }
}

.flasher {
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    -webkit-animation-duration: 1.7s;
}

.link-colour{
    color: #999;
}

a.link-colour:hover{color: #999;}
a.link-colour:active{color: #999;}
